Makefile
Makefile.in
*.a
*.o
*.lo
*.la
*.orig
*.rej
*.gcno
*.gcda
*.tmp
.deps
.libs
.idea
.directory
compile_commands.json
*~

/configure
/config.cache
/build-aux/config.guess
/config.h
/config.h.in
/config.log
/config.status
/build-aux/config.sub
/build-aux/config.rpath
/build-aux/compile
/build-aux/depcomp
/build-aux/install-sh
/libtool
/build-aux/ltmain.sh
/build-aux/missing
/build-aux/run-test.sh
/stamp.h
/stamp-h1
/stamp-h2
/build-aux/ylwrap
/autom4te.cache

/aclocal.m4
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
